#user_confirm{
	color:black;
	
}
.dialog{
	
	position :absolute; 
	height:250px;
	width:450px;
	margin-top:100px;
	margin-left:450px;
	background-color:grey;
	border-radius:5px;
}

.dialog h1{
	margin-left:120px;
}
.dialog p {
	font-size: 25px;
	margin-left:50px;
}
.dialog2{
	
	position :absolute; 
	height:250px;
	width:450px;
	margin-top:100px;
	margin-left:450px;
	background-color:grey;
	border-radius:5px;
}

.dialog2 h1{
	margin-left:100px;
}


.dialog2 p {
	font-size: 25px;
	margin-left:100px;
}

#y{
	color:green;
	border-radius:5px;
	margin-left:100px;
	width:100px;
	height:40px;
	
}
#n{
	color:red;
	border-radius:5px;
	margin-left:50px;
	width:100px;
	height:40px;
}

.body{
	height:500px;
	width:1350px;
	background-color:blue;
}